
body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	padding-top: 100px;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin-bottom: 1em;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ul, li	{
	list-style-position: inside;
}