.banner {
	padding-bottom: 60px;
	padding-top: 60px;

}

.banner--bottom-2 {
	padding-bottom: calc(60px - 2em);
}


.banner--image {
	background-image: url("/images/hero-image.jpg");
	background-size: cover;
	background-position: center;
	color: white;

	.banner__heading {
		color: white;
	}
}

.banner-map {
	height: 300px;
}
