.book-carousel__image {
 width: 250px;
}

.owl-prev, .owl-next {
	background-color: rgba(0,0,0,0.4);
	color: white;
	position: absolute;
	padding: 10px;
	text-align: center;
	top: 50%;
	transform: translateY(-100%);
}
.owl-prev {
	left:0;
}
.owl-next {
	right:0;
}