.btn {
	padding: 15px 45px;
}

.btn-ghost {
	background-color: transparent !important;
	border: 1px solid;
}

.btn-ghost--primary {
	background-color: transparent !important;
	border: 1px solid  $primary-color;;
	color: $primary-color;

	&:hover {
		background-color: $primary-color !important;
		color: white;
	}
}

.btn-ghost--white {
	background-color: transparent !important;
	border: 1px solid  white;
	color: white;

	&:hover {
		background-color: white !important;
		color: $primary-color;
	}
}

.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color;
	color: white;

	&:hover {
		background-color: lighten($primary-color, 5%);
		border-color: $primary-color;
		color: white;
	}
}