.icon-block {
	margin-bottom: 0;
	text-align: left;

	> .panel-body {
		display: table;
	}

	@media (min-width: $sm) { 
		text-align: center;

		> .panel-body {
			display: block;
		}
	}
}

.icon-block__icon {
	display: table-cell;
	font-size: 40px;
	margin-right: 20px;
	vertical-align: middle;
	width: 50px;

	@media (min-width: $sm) {
		display: block;
		font-size: 50px;
		margin-bottom: 20px;
		margin-right: 0;
		width: auto;
	}
}

.icon-block__text {
	display: inline-block;
	margin-top: 0;

	@media (min-width: $sm) { 
		display: block;
	}
}

.icon--medium {
	font-size: 32px;
}

.icon--after {
	margin-right: 1em;
}