.masonry--books {
	margin: 0 auto;
	width: 250px;

	@media (min-width: 560px) {
		width: 100%;
	}

	.masonry__item {
		display: block;
		height: 300px;
		margin-bottom: 30px;
		width: 100%;

		img {
			height: 100%;
			width: 100%;
		}

		@media(min-width: 560px) {
			height: 350px;
			width: 50%;
		}

		@media (min-width: $sm) {
			height: 350px;
			width: 33.333%;
		}

		@media (min-width: $md) {
			height: 320px;
			width: 25%;
		}

		@media (min-width: $lg) {
			height: 350px;
			width: 25%;
		}
	}
}

.masonry--blog {
	margin: 0 auto;
	max-width: 400px;

	@media (min-width: $sm) {
		max-width: none;
	}

	.masonry__item {
		color: inherit;
		font: inherit;
		margin-bottom: 30px;

		&:hover {
			text-decoration: none;

			.blog-teaser__content h3 {
				text-decoration: underline;
			}

			.blog-teaser-content__link {
				text-decoration: underline;
			}
		}
	}

	.blog-teaser {
		background-color: white;
		box-shadow: 0 2px 5px #aaa;

		
	}

	.blog-teaser__thumbnail {
		width: 100%;

		@media (min-width: $sm) {
			height: 225px;
		}

		@media (min-width: $md) {
			height: 275px;
		}

		@media (min-width: $lg) {
			height: 225px;
		}
	}

	.blog-teaser__content {
		padding: 15px;
		padding-bottom: 45px;
		position: relative;

		h3 {
			margin-bottom: 0.5em;
		}

		@media (min-width: $sm) {
			height: 250px;
		}
	}

	.blog-teaser-content__link {
		color: $primary-color;
	}
}
