.panel--ghost {
	background-color: transparent;
	box-shadow: none;
}

.facet-panel {
	.panel-body {
		padding: 25px;
	}
}

.facet-panel__links {
	display: flex;
	flex-direction: column;
}

.facet-panel__link {
	display: block;
	margin-bottom: 1em;
}