.pricing {
	background-color: white;
	border: 1px solid #e4e4e4;
	padding: 15px; 
	position: relative;
	margin-bottom: 25px;
	text-align: left;
	vertical-align: middle;

	&.pricing--highlight {
		background-color: #ca4d37;
		color: white;

		.pricing__header, .pricing__subheader {
			color: white;
		}

		.pricing-list__item {
			border-bottom: 1px solid rgba(255,255,255,0.2);
		}

		.pricing__btn {
			@media (min-width: $md) { 
				bottom: 100px;
			}
		}
	}

	@media (min-width: $md) { 
		border:0;
		display: inline-block;
		height: 500px;
		padding: 50px 15px;
		text-align: center;
		width: 33.33333%;

		&.pricing--highlight {
			height: 550px;
			padding-top: 75px;
		}

		&:first-of-type {
			border-bottom: 1px solid #e4e4e4;
			border-top: 1px solid #e4e4e4;
			border-left: 1px solid #e4e4e4;
			
		}

		&:last-of-type {
			border-bottom: 1px solid #e4e4e4;
			border-top: 1px solid #e4e4e4;
			border-right: 1px solid #e4e4e4;
		}
	}
}

.pricing__header {
	color: $primary-color;
	font-size: 46px;
	margin-bottom: 0.5em;
}

.pricing__subheader {
	margin-bottom: 0.5em;
}

.pricing__list {
	padding: 0;
	list-style-type: none;
}

.pricing-list__item {
	border-bottom: 1px solid rgba(0,0,0,0.2);

	padding: 8px 0;
}

.pricing__btn {
	@media (min-width: $md) { 
		position: absolute;
		bottom: 75px;
		left: 50%;
		transform: translateX(-50%);
	}
}