.search__input {
	height: 50px;
	line-height: 50px;
	margin-bottom: 15px;
	padding: 0 15px;
	width: 100%;

	@media (min-width: $sm) {
		margin-bottom: 0;
	}
}

.search__btn {
	background-color: $primary-color;
	color: white;
	font: inherit;
	border: 0;
	height: 50px;
	width: 100%;
}