.table-layout {
	display: table;

	> * {
		display: table-cell;
		vertical-align: top;

		// Overwrite root.scss to enable spacing
		h1, h2, h3, h4, h5, h6, p, ul {

			&:last-child {
				margin-bottom: 1em;
			}
		}
	}
}

.table-cell--spacing-top {
	padding-bottom: 1em;
}