.clearfix {
	@include clearfix;
}

.margin-on {
	margin-bottom: 1em;
}

.margin-2 {
	margin-bottom: 2em;
}

.margin-3 {
	margin-bottom: 3em;
}

/* Vertically and horizontally center a thing */
.center {
    @include center;
}

.text-bold {
	font-weight: 600;
}

.text-bolder {
	font-family: "Raleway bold", sans-serif;
}