.footer {
	color: #cbcbcb;

	.container {
		max-width: 350px;

		@media (min-width: $sm) { 
			max-width: none;
		}
	}
}

.footer__main {
	background-color: #2e2e2e;
	padding-bottom: 40px;
	padding-top: 40px;
}

.footer__section {
	margin-bottom: 30px;

	&:last-of-type {
		margin-bottom: 0;
	}

	@media (min-width: $sm) { 
		.footer__section {
			margin-bottom: 0;
		}
	}

	@media (min-width: $lg) { 
		margin-bottom: 0;
	}
}

.footer__heading {
	color: white;
	font-weight: normal;

	&:after {
		background-color: $primary-color;
		content: "";
		display: block;
		height: 2px;
		margin-top: 12px;
		width: 25px;
	}
}

.footer-links {
	list-style-type: none;
	padding-left: 0;
}

.footer-links__links {
	a {
		border-bottom: 1px solid rgba(255,255,255,0.05);
		color: inherit;
		display: block;
		max-width: 300px;
		padding: 8px 0;

		&:hover {
			color: white;
			text-decoration: none;
		}
	}	
}

.footer__copyright {
	background-color: #262626;
	padding-bottom: 40px;
	padding-top: 40px;
}