.navbar {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 5px #aaa;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 9999;
    
}

.navbar-toggle {
	border-color: #ddd;
	margin-top: 33px;

	&:focus, &:hover {
    	background-color: #ddd;
    }

    .icon-bar {
	    background-color: #888;
	}
}

.navbar-brand {
	height: 100px;
	padding: 20px 15px;

	img {
		height: 100%;
	}
}

.navbar-nav li a {
	
	font-size: 14px;
	font-weight: 600;

	@media (min-width: $sm) { 
		line-height: 100px;
		padding: 0 15px;
	}
}

.navbar-nav ul li a {
	line-height: 1.4;
	padding: 10px;
}

.navbar-nav--btn {

	@media (min-width: $sm) {
		height: 100px;
	    padding: 25px 0;

	    a {
	    	font: inherit !important;
	    	font-size: 14px !important;
	    	height: 50px !important;
	    	line-height: 48px !important;
	    	text-shadow: none;

	    	&:hover {
	    		background-color: lighten($primary-color, 5%) !important;
	    	}
	    }
	}		
}

@media (max-width: $sm) {
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
		padding: 10px 15px 10px 25px;
	}
}
// Overrides
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background: none;
	box-shadow: none;
}